<?xml version="1.0" encoding="utf-8" ?>

  <configuration>
    <configSections>

      <!-- where THIS can be reached -->
      <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />


      <!-- we are sending as well -->  
      <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>


      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    </configSections>

    <!-- in order to configure remote endpoints use the format: "queue@machine" 
       input queue must be on the same machine as the process feeding off of it.
       error queue can (and often should) be on a different machine.
  -->

    <MsmqTransportConfig
      InputQueue="NerdDinnerCommandQueue"
      ErrorQueue="error"
      NumberOfWorkerThreads="1"
      MaxRetries="5"
  />

    <UnicastBusConfig>
      <MessageEndpointMappings>
        <!--  in this case we are sending to ourselves -->
        <add Messages="NerdCommandMessages" Endpoint="NerdDinnerCommandQueue"/>
        <!--  in this case we are sending to report server i.e notify when update has been done -->
        <add Messages="ReportServerMessages" Endpoint="ReportServerQueue"/>
      </MessageEndpointMappings>
    </UnicastBusConfig>



    <log4net>
      <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
        <mapping>
          <level value="DEBUG" />
          <foreColor value="White, HighIntensity" />
          <backColor value="Green" />
        </mapping>

        <layout type="log4net.Layout.PatternLayout">
          <param name="Header" value="[Header]\r\n"/>
          <param name="Footer" value="[Footer]\r\n"/>
          <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
        </layout>
      </appender>


      <appender name="ColoredConsoleAppenderCommand" type="log4net.Appender.ColoredConsoleAppender">
        <mapping>
          <level value="INFO" />
          <foreColor value="Yellow, HighIntensity" />
          <backColor value="Purple" />
        </mapping>

        <layout type="log4net.Layout.PatternLayout">
          <param name="Header" value="[Header]\r\n"/>
          <param name="Footer" value="[Footer]\r\n"/>
          <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
        </layout>
      </appender>



      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
          <param name="Header" value="[Header]\r\n"/>
          <param name="Footer" value="[Footer]\r\n"/>
          <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
        </layout>
      </appender>




      <root>
        <level value="ERROR"/>
        <appender-ref ref="ConsoleAppender"/>
      </root>
      <logger name="NHibernate" additivity="false" >
        <level value="ERROR" />
        <appender-ref ref="ColoredConsoleAppender"/>
      </logger>
      <logger name="CommandHandler" additivity="false" >
        <level value="INFO" />
        <appender-ref ref="ColoredConsoleAppenderCommand"/>
      </logger>

      <logger name="NHibernate.SQL" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="ColoredConsoleAppender"/>
      </logger>

    </log4net>



  </configuration>

